<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false"/>
	</configSections>
	<extnet scriptMode="Release"/>
	<!-- See Property Options in README.txt -->
	<!-- 
		The following system.web section is only requited for running ASP.NET AJAX under Internet
		Information Services 6.0 (or earlier).  This section is not necessary for IIS 7.0 or later.
	-->
	<system.web>
		<httpHandlers>
			<add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net"/>
		</httpModules>
		<pages clientIDMode="AutoID">
			<controls>
				<add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext"/>
			</controls>
		</pages>
		<compilation debug="true" targetFramework="4.0.3">
		</compilation></system.web>
	<!-- 
		The system.webServer section is required for running ASP.NET AJAX under Internet Information Services 7.0.
		It is not necessary for previous version of IIS.
	-->
	<connectionStrings>
		<add name="Mysql_conn" connectionString="server=localhost;user id=root;password=administracion;persist security info=true;database=seguridad_biblioteca;" providerName="Mysql.Data.MySqlClient"/>
		<add name="Server_conn" connectionString="" providerName=""/>
		<add name="postgres_conn" connectionString="" providerName=""/>
		<add name="oracle_conn" connectionString="" providerName=""/>
	</connectionStrings>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net"/>
		</modules>
		<handlers>
			<add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler"/>
		</handlers>
		<defaultDocument>
			<files>
				<add value="Logon.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>
